@{
    ViewBag.Title = "AddUser";
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script>
    $(function () {
            $.get("@Url.Action("GetAllUsers")", function addtotable(resp) {

                $('.Users tr').not(':first').not(':last').remove();
                var html = '';
                for (var i = 0; i < resp.length; i++)
                    html += '<tr>' +
                            '<td>' + resp[i].Username +
                            '</td><td>' + resp[i].Name +
                            '</td><td>' + resp[i].Email +
                            '</td><td>' + resp[i].Gender +
                            '</td><td>' + resp[i].PersonNum +
                            '</td><td>' + resp[i].Role +
                            '</td></tr>';
                $("table tr:first").first().after(html);
            });

            $('button').click(function () {
                var dataForServer = $('input option:selected').serialize();
                $.post("@Url.Action("InsertUser")", dataForServer, function (resp) {
                    if (resp.Status == "OK") {
                        alert(resp.Status)
                    } else {
                        alert(resp.Status);
                    }
                });
            });
        });
    
</script>
<h2>Users table</h2>
<div style="border:1px solid;padding:5px;">
    <div>
        <table class="Users">
            <tr>
                <!--<th>Car Id</th>-->
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Gender</th>
                <th>PersonNum</th>
                <th>Role</th>
            </tr>

        </table>

    </div>
</div>
<h2>AddUser</h2>
<div>
    <form method="post">
        <label for="Username">Username:</label>
        <input name="Username" /><br />
        <label for="Password">Password:</label>
        <input name="Password" /><br />
        <label for="RepeatPassword">Repeat password:</label>
        <input name="RepeatPassword" /><br />
        <label for="Name">Name:</label>
        <input name="Name" /><br />
        <label for="Email">Email</label>
        <input name="Email" /><br />
        <label for="Gender">Gender</label>
        <select name="Gender" >
        <option>Male</option>
        <option>Female</option>
        </select><br />
        <label for="Personnumber">Personnumber:</label>
        <input name="Personnumber" /><br />
        <button type="button" onclick="uploadPic">Upload Picture</button>
        <button type="submit" onclick="clickMe">Save user</button>
    </form>
</div>
<div>
    @ViewBag.Message;
</div>
