@{
    ViewBag.Title = "login";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<script src="~/Scripts/jquery-2.1.3.js"></script>
<script>
    /*$(function () {


        $('button').click(function () {
            var dataForServer = $('form').serialize();
            $.post("Url.Action("Login")", dataForServer, function (resp) {
                console.log(resp);
                /*if (resp.Status == "OK") {
                    
                } else {
                    alert(resp.Status);
                }
                //document.location = '';
            });
        });
    });*/

</script>
<div>
    <form method="post">
        <label for="Username">Username:</label>
        <input name="Username" /><br />
        <label for="Password">Password:</label>
        <input name="Password" /><br />

        <button type="submit" value="Login">Log In</button>
    </form>
</div>
